<h1>Listing hotels</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo url</th>
      <th>Breakfast</th>
      <th>Price</th>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.title %></td>
        <td><%= hotel.description %></td>
        <td><%= hotel.photo_url %></td>
        <td><%= hotel.breakfast %></td>
        <td><%= hotel.price %></td>
        <td><%= hotel.address %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
